.barChart-section {
  margin: 0 auto;
  position: relative;

  svg {
    display: inline-block;
    position: absolute;
  }
}

.Axis path,
.Axis line {
  stroke: rgb(139, 139, 139);
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

