.barChart-section {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: inline-block;
  max-height: 500px;

  svg {
    position: absolute;
  }
}

.Axis path,
.Axis line {
  stroke: rgb(139, 139, 139);
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}