.chart-section {
  margin: 0 auto;
  position: relative;
  max-height: 500px;
  max-width: 700px;
  margin-bottom: 2rem;
  svg {
    max-height: 500px;
    max-width: 700px;
  }
}

.Axis path,
.Axis line {
  stroke: rgb(139, 139, 139);
}

.Axis text {
  font-size: 1rem;
  fill: black;
}

.Experience {
  .Axis path,
  .Axis line {
    stroke: #f0ede7;
  }
  .Axis text {
    fill: #f0ede7;
  }
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}