html, body {
  font-family: $body-font;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  transition: font-size 1s;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.35rem;
}

p {
  font-size: 1rem;
  font-family: $body-font;
}

.highlight {
  color: $orange;
}

.CTA {
  color: $light-blue;
}

.caption {
  font-size: 0.8rem;
  font-weight: 300;
}

.headline {
  padding-top: 0.5rem;
  margin-top: 0;
	font-weight: 500;
}
