.footer {
	margin: 0;
	background: #39393a;
	color: #fff;
	width: 100%;
	height: 18rem;
	text-align: center;
  padding-top: 3rem;
	padding-bottom: 3rem;
	line-height: 2rem;
	font-family: $header-font;
	h1 {
		margin: 0;
		font-size: 3rem;
	}
  h3 {
		margin: 1rem;
	}

  h5 {
		margin: 0;
	}

	a {
		color: $cream;
		text-decoration: none;
	}

	a:link {
		color: $light-blue;
		text-decoration: none;
	}

	a:visited {
		color: $cream;
		text-decoration: none;
	}

	a:hover {
		color: $light-blue;
		text-decoration: none;
	}

	i {
		margin-left: 5px;
		margin-right: 5px;
	}

  .col {
		top: 0;
		width: 10%;
		display: inline-block;
	}

	@media(max-width: 32em) {
    h1 {
			font-size: 2rem;
		}

		.col {
			width: 35%;
		}
	}

	@media (min-width: 32em) {
    h1 {
			font-size: 2rem;
		}
		.col {
			width: 33%;
		}
	}

	@media (min-width: 62em) {

		.col {
			width: 20%;
		}
	}

	@media (min-width: 75em) {
		h1 {
			font-size: 3rem;
		}

		.col {
			width: 10%;
		}
	}

}
