.header {
  background: $orange;
  background: -webkit-linear-gradient(to left top,  $orange, $light-blue);
  background: -o-linear-gradient(to left top, $orange, $light-blue);
  background: -moz-linear-gradient(to left top, $orange, $light-blue);
  background: linear-gradient(to left top, $orange, $light-blue);
  padding-top: 3rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  font-family: $header-font;
  transition: height 1s;
}

/*.header.top {
  background-image: url('./images/loopkicks2.jpg');
  background-position: center;
  background-repeat: no-repeat;
}*/

@media (min-width: 25em) {
  .header {
    h1 {
      font-size: 2rem;
    }
  }
}


@media (min-width: 32em) {
  .header {
    height: 15rem;
  }
}

@media (min-width: 40em) {
  .header {
    height: 20rem;
    h1 {
      font-size: 3rem;
    }
  }
}
