.image-container {
  display: inline-block;
  margin: 1rem 0.5rem;
  img {
    transition: height 1s, width 1s;

    @media (max-width: 48em) {
      height: 10.08rem;
      width: 17.92rem;
    }

    @media (min-width: 62em) {
      height: 14.4rem;
      width: 25.6rem;
    }

    @media (min-width: 75em) {
      height: 21.6rem;
      width: 38.4rem;
    }

		max-height: 14.4rem;
		max-width: 25.6rem;
  }

}

.image-container.no-margs {
  margin: 0;
}

.image-container.small {
	img {
		max-height: 10.08rem;
		max-width: 17.92rem;
	}
}
