@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


$header-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

$orange: #cd853f;
$teal-grey: #51848b;
$light-blue: #0584ba;
$off-white: #f0ede7;
$orange2: #FF8552;
$cream: #F7FFF7;