@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');


$header-font: 'Quicksand', sans-serif;
$body-font: 'Roboto', sans-serif;

$orange: #cd853f;
$teal-grey: #51848b;
$light-blue: #0584ba;
$off-white: #f8f6f2;