@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$header-font: 'Open Sans', sans-serif;
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

$orange: #cd853f;
$teal-grey: #51848b;
$light-blue: #0584ba;
$off-white: #f0ede7;
$cream: #F7FFF7;
