
html,body {
      position: relative;
      max-width: 100%;
      overflow-x: hidden;
      font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
}

h1 {
      font-size: 4em;
}


ul.side-nav {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 50;
      width: auto;
      top: 10px;
}

p {
      font-size: 1.5em;
      font-weight: 300;
}

li.active {
      font-weight: bold;
}

section {
  margin-bottom: 20px;
}

video {
      position: relative;
      top: 50%;
      left: 50%;
      min-width: 75%;
      min-height: 75%;
      width: 100%;
      height: 100%;
      z-index: -100;
      transform: translateX(-50%);
      background: url('/res/helvetic_poster.png') no-repeat;
      background-size: cover;
      transition: 1s opacity;
      font-size: 0px;
}

.section-title {
      text-align: center;
      font-weight: 600;
      font-size: 3em;
      border-bottom: solid 1px #48a4e7;
}

.map-container {
      width: 100%;
      height: 100%;
      position: relative;
}

.center-gif {
      width: 100%;
      height: 100%;
}
#micah-gif-1 {
      position: relative;
      height: auto;
      width: 100%;
}

.affix {

}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section4, #section5 , #section6, #section7, #section8, #section9, #section10{
      /*margin-left: 150px;*/
  }
}
#titlesection {
      /*height: 750px;*/
      margin-top: 20%;
      position: absolute;
}

#titlesection p {
      font-size: 1.0em;
}

#myScrollspy {
      /*z-index: 1000;*/

}

#main-content {
      /*border-left: solid black 1px;*/
}

.legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }

 #bgvid {

 }

 /*Sankey Syles*/
 .node rect {
       cursor: move;
       fill-opacity: .9;
       shape-rendering: crispEdges;
 }

 .node text {
       pointer-events: none;
       text-shadow: 0 1px 0 #fff;
 }

 .link {
       fill: none;
       stroke: #000;
       stroke-opacity: .2;
 }

 .link:hover {
       stroke-opacity: .5;
 }

 .land {
  fill: #222;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}
.tooltip_key {
  font-weight: bold;
}
.tooltip_value {
  margin-left: 20px;
  float: right;
}

#population-bar {
      margin-left: 100px;
      margin-bottom: 50px;
      width: 800px;
      height: 8px;
      position: relative;
}

.pop_bar {
      width: 100px;
      height: 20px;
      float: left;
      margin-bottom: 10px;
}

#pbar1 {
      background-color: #eec262;
}

#pbar2 {
      background-color: #F3975E;
      margin-left: 0px;
}

#pbar3 {
      background-color:  #fa5757;
      margin-left: 0px;
}

#pbar4 {
      background-color: #b53535;
      margin-left: 0px;
}

.bar {
      fill: #45abed;
}

#kicks_chart .bar {
      fill: #07aa3e;
}

#twists_chart .bar {
      fill: #e73a3a;
}


#twists_chart .bar:hover,
#kicks_chart .bar:hover,
.bar:hover {
      fill: rgba(197, 221, 236, 0.9);
}

#training_chart text {
      fill: black;
      font-family: 'Ubuntu', sans-serif;
      font: 10px;
      text-anchor: end;
}

.axis text {
      font-family: 'Ubuntu', sans-serif;
      font: 10px;
}

.axis path,
.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
}

.youtube-container {
      width: 70%;
      margin: 0 auto;
      /*margin-left: 5em;*/
}

.arrow {
      -webkit-animation-name: bounce;
      -moz-animation-name: bounce;
      -o-animation-name: bounce;
      animation-name: bounce;
}

.animated {
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      -o-animation-duration: 2s;
      animation-duration: 2s;
}

@-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
      }
      40% {
            -webkit-transform: translateY(-15px);
      }
      60% {
            -webkit-transform: translateY(-7px);
      }
}

@-moz-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
      }
      40% {
            -moz-transform: translateY(-15px);
      }
      60% {
            -moz-transform: translateY(-7px);
      }
}

@-o-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
            -o-transform: translateY(0);
      }
      40% {
            -o-transform: translateY(-15px);
      }
      60% {
            -o-transform: translateY(-7px);
      }
}

@keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
      }
      40% {
            transform: translateY(-15px);
      }
      60% {
            transform: translateY(-7px);
      }
}
