.back-top-btn {
  position: fixed;
  bottom: 50px;
  right: 100px; }
  @media (max-width: 32em) {
    .back-top-btn {
      display: none; } }
  @media (min-width: 32em) {
    .back-top-btn {
      display: block;
      right: 25px; } }
  @media (min-width: 48em) {
    .back-top-btn {
      right: 50px; } }
  @media (min-width: 62em) {
    .back-top-btn {
      right: 75px; } }
  @media (min-width: 75em) {
    .back-top-btn {
      right: 100px; } }

.back-top-btn:hover {
  color: white; }
