.image-container {
  display: inline-block;
  margin: 1rem 0.5rem; }
  .image-container img {
    transition: height 1s, width 1s;
    max-height: 14.4rem;
    max-width: 25.6rem; }
    @media (max-width: 48em) {
      .image-container img {
        height: 10.08rem;
        width: 17.92rem; } }
    @media (min-width: 62em) {
      .image-container img {
        height: 14.4rem;
        width: 25.6rem; } }
    @media (min-width: 75em) {
      .image-container img {
        height: 21.6rem;
        width: 38.4rem; } }

.image-container.no-margs {
  margin: 0; }

.image-container.small img {
  max-height: 10.08rem;
  max-width: 17.92rem; }
