.Geography .Map {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  position: relative;
  top: 0;
  left: 0; }
  .Geography .Map svg {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #888; }
  .Geography .Map .tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px; }

.Geography h3 {
  margin-bottom: 0.25rem; }

.Geography .content {
  position: relative;
  left: 0; }

.marker {
  opacity: 0.5; }
