.left {
  display: inline-block; }
  @media (min-width: 32em) {
    .left {
      width: 100%; } }
  @media (min-width: 40em) {
    .left {
      width: 40%; } }

.right {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 32em) {
    .right {
      width: 100%;
      margin: 0px; } }
  @media (min-width: 40em) {
    .right {
      width: 50%;
      margin: 20px; } }
